@{
    var alert = "/asset/alert.png";
    var search_icon = "/asset/search-icon.svg";

}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Project-Tesco Redundancy Calculator</title>
    <link rel="stylesheet" href="~/sub_css/SRPrate.css" />
    <script src="~/js/Incorrect.js"></script>
</head>
<body>
    <div class="colleague-main">
        <h1>Different SRP rate Required</h1>
        <hr />

        <div class="note-container">
            <div class="logo1">
                <img src=@alert alt="Menu">
                <span>Note</span>

            </div>
            <div class="note">
                <span>
                    Before submitting this request please ensure that the colleague resides in the relevant geographical location in order to qualify for this SRP rate.
                </span>

            </div>
        </div>
        <div class="colleague-container">
            <div class="sub-container1">
                <label>Project Name</label>
                <select id="search-project">
                    <option>  </option>
                </select>
                <label>Search by Employee Number</label>
                <input type="text" placeholder="*******" />
                <a href=""><img src=@search_icon alt="" width="25px" height="30px" /><span>Search</span></a>
            </div>
            <div class="sub-container2">
                <label>First Name</label>
                <input type="text" />
                <label id="data-correction">Select SRP rate required</label>
                <select id="select-data">
                    <option> Please Select</option>
                    <option> UK </option>
                    <option> NI</option>
                    <option> IOM</option>
                </select>

            </div>
            <div class="sub-container3">
                <label>Last Name</label>
                <input type="text" />
            </div>
        </div>
        <hr />
    </div>

    <div class="clear-send">
        <a href="" id="clear"><span>Clear</span></a>
        <a href=""><span>Send</span></a>
    </div>

</body>
</html>