@using Peach_Clone.Models;
<head>
    <title>Project-Tesco Redundancy Calculator</title>
    <link rel="stylesheet" href="~/Employee_css/_AdditionalDetail.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<div class="division">
   
        <div class="col-1">
        <h3>Offer Details</h3>
            <label>Legacy Holiday Scheme:</label>
             <select id="select-holiday">
                    <option> Please Select </option>
             </select>
            <label>Please select reason for additional payments</label>
                <select id="select-holiday">
                      <option> Please Select </option>
                </select>
                    <label>Outstanding payment amounts - if any (function to provide)</label>
                    <div id="days">
                        <span>$</span> <input type="text" /> <input type="text" /> <input type="text" /> <input type="text" /> <input type="text" /> <input type="text" /> . <input type="text" /> <input type="text" />
                    </div>
            <div class="cmt">
                <label>Comments</label>
                <textarea></textarea>
            </div>
        <a href=""><span>Save changes</span></a>
        </div>
        <div class="col-2">
            <div id="days">
                <input type="text" /> <input type="text" /> <span>days</span>
            </div>
           
                <label>Additional payment amount(agreed through collective)</label>
                <div id="days">
                    <span>$</span> <input type="text" /> <input type="text" /> <input type="text" /> <input type="text" /> <input type="text" /> <input type="text" /> . <input type="text" /> <input type="text" />
                </div>
            <label>Please select reason for additional payments</label>
            <select id="select-holiday">
                <option> Please Select </option>
            </select>
        </div>
</div>



