@using Peach_Clone.Models;
<head>
    <title>Project-Tesco Redundancy Calculator</title>
    <link rel="stylesheet" href="~/Employee_css/_ColleagueStatus.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<div class="division">
    <h3>Colleague Status</h3>
    <label>Impact to Colleague</label>
    <div id="impact">
        <a>Impacted</a><a>No Impact</a><a>Test R8.00</a>
    </div>
    <label>Please select reason for additional payments</label>
    <select id="select-holiday">
        <option> Please Select </option>
    </select>
    <a href=""><span>Save changes</span></a>
</div>
