@using Peach_Clone.Models;
<head>
    <title>Project-Tesco Redundancy Calculator</title>
    <link rel="stylesheet" href="~/Employee_css/_Overview.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h3>Exception</h3>
    <p>There are no Exceptions</p>
</body>
