@using Peach_Clone.Models;
<head>
    <title>Project-Tesco Redundancy Calculator</title>
    <link rel="stylesheet" href="~/Employee_css/_FamilyLeave.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<div class="division">
    <h3>Family Leave</h3>
        <label>Please select reason for additional payments</label>
        <select id="select-holiday">
            <option> Please Select </option>
        </select>
        <a href=""><span>Save changes</span></a>
</div>
