
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title>Project-Tesco Redundancy Calculator</title>
    <link rel="stylesheet" href="~/css/faq.css" />
     </head>
    <body>
        <div class="faq-main">
        <h1>Frequently Asked Question & How to Guide</h1>
        <hr />
        <div class="faq-container">
            <a href="@Url.Action("FAQ_page", "Home")" id="faq"><h4>FAQ</h4></a>
            <a href="@Url.Action("Guide", "Home")"><h4>How to guide</h4></a>
        </div>
        </div>
       
    </body>
</html>
