
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Project-Tesco Redundancy Calculator</title>
    <link rel="stylesheet" href="~/css/faq_page.css" />
    <script src="~/js/faq.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="faq-main">
        <div class="title">

            <h1>Frequently Asked Question & How to Guide</h1>
            <select id="select-option">
                <option value="faq">FAQ</option>
                <option value="guide">How to Guide</option>
            </select>

        </div>

        <hr />
        <div class="main-content">
            <!-- FAQ Section -->
            <div class="faq-container">
                <div class="faq-header">
                    <span>A warm welcome</span>
                    <span class="arrow">&#9660;</span> <!-- Down arrow initially -->
                </div>
                <div class="faq-content">
                    <div class="faq-item">
                        <div class="faq-question">
                            A warm welcome
                            <span class="faq-arrow">&#9660;</span>
                        </div>
                        <div class="faq-answer">This guide provides an overvie of the change programme processes needed in order to achieve accurate pay for our colleagues. It will outline the support that is available to you throughout the life cycle of your project.</div>
                    </div>

                    <div class="faq-item">
                        <div class="faq-question">
                            How do I navigate the database?
                            <span class="faq-arrow">&#9660;</span>
                        </div>
                        <div class="faq-answer">
                            Please click on the link to access the support guide
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-question">
                            How do I navigate the FAQ and How to guides on the database?
                            <span class="faq-arrow">&#9660;</span>
                        </div>
                        <div class="faq-answer">
                            Please click on the link to access the support guide
                        </div>
                    </div>


                </div>
            </div>

            <!-- Second FAQ Section -->
            <div class="faq-container">
                <div class="faq-header">
                    <span>General Operations</span>
                    <span class="arrow">&#9660;</span> <!-- Down arrow initially -->
                </div>
                <div class="faq-content">
                    <div class="faq-item">
                        <div class="faq-question">
                            How do I find a colleague and navigate the overview tab?
                            <span class="faq-arrow">&#9660;</span>
                        </div>
                        <div class="faq-answer">Please click on the link to access the support guide</div>
                    </div>

                    <div class="faq-item">
                        <div class="faq-question">
                            How do I navigate the colleague details tab?
                            <span class="faq-arrow">&#9660;</span>
                        </div>
                        <div class="faq-answer">
                            Please click on the link to access the support guide
                        </div>
                    </div>

                    <div class="faq-item">
                        <div class="faq-question">
                            How do I navigate the family leave tab?
                            <span class="faq-arrow">&#9660;</span>
                        </div>
                        <div class="faq-answer">
                            Please click on the link to access the support guide
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>



</body>
</html>

