
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Project-Tesco Redundancy Calculator</title>
    <link rel="stylesheet" href="~/css/logout.css" />
</head>
    <body>
        <h2>Logout</h2>
    </body>
</html>
