

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title>Project-Tesco Redundancy Calculator</title>
    <link rel="stylesheet" href="~/css/Notification.css" />
        </head>
    <body>
        <div class="Notify-main">
        <h1>Notifications</h1>
        <hr />
        <span>There are no Notifications</span>
        </div>

    </body>
</html>
